body{
    background-color: #202022;
}

/* stlye for the footer */
footer{
    text-align: center;
    margin-right: 200px;
}
/* style for the header 1 */
h1{
    text-align: center;
    color: white;
}
/* style for the header 2 */
h2{
    text-align: center;
    color: white;
}
#image{
    margin-right: 200px;
    text-align: center;
}

/* style for the button */
button{
    background-color: #202022;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
